<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <style>
    table,
    tr,
    th,
    td {
      border: 1px solid black;
      padding: 3px;
    }
  </style>
</head>

<body>
  <div>
    <a href="/">kembali</a>
  </div>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome, <%= user.fullName %>
  </p>
  <p>This is a list of classes in the Digital Course:</p>
  <button onclick="toggle()">Add</button>
  <div style="margin-top: 5px;display: none" id="add-form">
    <form action="/dashboard/courses" method="POST">
      <input type="text" name="nameCourse" placeholder="Name Course in here.." />
      <input type="text" name="price" placeholder="Rp0" />
      <select name="status">
        <option>Choose</option>
        <option value="0">not active</option>
        <option value="1">active</option>
      </select>
      <button type="submit">save</button>
    </form>
  </div>
  <div style="margin-top: 10px">
    <% if(data.length> 0) { %>
      <table>
        <tr>
          <th>No.</th>
          <th>Name Course</th>
          <th>Price</th>
          <th>Status</th>
          <th>#</th>
        </tr>
        <% data.forEach((da, i)=> { %>
          <tr>
            <td>
              <%= i+1 %>
            </td>
            <form action="/dashboard/courses/<%= da.id %>?_method=PATCH" method="POST">
            <td>
              <span id="nameCourseLabel<%= da.id %>" style="display:block"><a style="text-decoration: none;color:black" href="/dashboard/courses/<%= da.id %>"><%= da.nameCourse %></a></span>
              <input type="text" name="nameCourse" id="nameCourse<%= da.id %>" style="display:none" value="<%= da.nameCourse %>"></input>
            </td>
            <td>
              <span id="priceCourseLabel<%= da.id %>" style="display:block">Rp<%= da.price.toLocaleString('id-ID') %></span>
              <input type="text" name="price" id="priceCourse<%= da.id %>" style="display:none" value="<%= da.price %>"></input>
            </td>
            <td>
              <span id="statusCourseLabel<%= da.id %>" style="display:block">
                <%= da.status == true ? 'active' : 'not active' %>
              </span>
              <select name="status" style="display:none" id="statusCourse<%= da.id %>">
                <option value="<%= da.status %>"><%= da.status == true ? 'active' : 'not active' %></option>
                <option value="<%= da.status == true ? 0 : 1 %>"><%= da.status == true ? 'not active' : 'active' %></option>
              </select>
            </td>
            <td>
              <button type="submit" style="display:none" id="buttonCourse<%= da.id %>">save</button>
            </form>
              <button type="button" onclick="toggleEdit(`<%= da.id %>`)">edit</button>
              <form onsubmit="return confirm(`Are you sure you want to delete class <%= da.nameCourse %>?`)"
                method="POST" action="/dashboard/courses?_method=DELETE" style="display:inline">
                <input type="hidden" name="id" value="<%= da.id %>">
                <button type="submit">delete</but>
              </form>
            </td>
          </tr>
          <% }); %>
      </table>
      <% } %>
  </div>
  <script>
    const toggle = () => {
      let formAdd = document.getElementById('add-form');
      if(formAdd.style.display == "block"){
        formAdd.style.display = "none";
      }else{
        formAdd.style.display = "block";
      }
    }
    const toggleEdit = (da) => {
      let nameCourse = document.getElementById(`nameCourse${da}`);
      let nameCourseLabel = document.getElementById(`nameCourseLabel${da}`);
      let priceCourse = document.getElementById(`priceCourse${da}`);
      let priceCourseLabel = document.getElementById(`priceCourseLabel${da}`);
      let statusCourse = document.getElementById(`statusCourse${da}`);
      let statusCourseLabel = document.getElementById(`statusCourseLabel${da}`);
      let buttonCourse = document.getElementById(`buttonCourse${da}`);
      if(nameCourse.style.display == "none"){
        nameCourse.style.display = "block";
        nameCourseLabel.style.display = "none";
        priceCourse.style.display = "block";
        priceCourseLabel.style.display = "none";
        statusCourse.style.display = "block";
        statusCourseLabel.style.display = "none";
        buttonCourse.style.display = "inline";
      }else{
        nameCourse.style.display = "none";
        nameCourseLabel.style.display = "block";
        priceCourse.style.display = "none";
        priceCourseLabel.style.display = "block";
        statusCourse.style.display = "none";
        statusCourseLabel.style.display = "block";
        buttonCourse.style.display = "none";
      }
    }
  </script>
</body>

</html>