<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      table,
      tr,
      th,
      td {
        border: 1px solid black;
        padding: 3px;
      }
    </style>
  </head>

  <body>
    <div>
      <a href="/course/<%= user.no_id %>">back</a>
    </div>
    <h1><%= title %></h1>
    <p>Welcome, <%= user.fullName %></p>
    <h4>Title: <%= course.nameCourse %></h4>
    <% if(data.length > 0){ %>
    <% for (let i = 0; i < 1; i++) { %>
      <div style="margin-top: 10px">
        <iframe width="560" id="video" height="315" src="https://www.youtube.com/embed/<%= data[0].link %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <% } %>
    <% } %>
    <div style="margin-top: 10px">
      <table>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Caption</th>
          <th colspan="2">#</th>
        </tr>
        <% if(data.length > 0) { %> <% data.forEach((det, i)=> { %>
        <tr>
          <td><%= i+ 1 %></td>
          <td><%= det.title %></td>
          <td><%= det.caption %></td>
          <td>
            <button type="button" onclick="changeVideo(`<%= det.link %>`)">tonton</button>
          </td>
        </tr>
        <% }) %> <% } else { %>
        <tr>
          <td colspan="5">There are no learning videos yet.</td>
        </tr>
        <% } %>
      </table>
    </div>
    <script>
      const changeVideo = (da) => {
        let videoFrame = document.getElementById('video');
        videoFrame.src = `https://www.youtube.com/embed/${da}`;
      }
    </script>
  </body>
</html>
