<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <a href="/course/<%= user.no_id %>" class="btn btn-primary btn-sm"><i class="fas fa-arrow-left"></i> back</a>
</div>


<!-- Content Row -->
<div class="row justify-content-<%= data.length > 0 ? 'center' : 'left' %> mb-4">
  <% if(data.length > 0) { %>
  <div class="col-md-7">
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <% for (let i = 0; i < 1; i++) { %>
          <iframe class="embed-responsive-item" id="video" src="https://www.youtube.com/embed/<%= data[0].link %>"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <% } %>
        </div>
    </div>
  </div>
  <% } %>
  <div class="col-md-5">
    <h1 class="h4 mb-3 text-gray-800"><b>
        <%= course.nameCourse %>
    </b></h1>
    <hr>
    <% if(data.length > 0) { %>
    <% data.forEach((det,i) => { %>
      <div onclick="changeVideo(`<%= det.link %>`)" class="btn btn-primary btn-block text-left">
        <span><%= i+1 %>. <%= det.title %></span>
      </div>
    <% }); %>
    <% } else { %>
      <p>You don't have class yet, <a href="/" class="btn btn-primary btn-sm"><i class="fas fa-shopping-cart"></i> buy here now</a></p>
    <% } %>
  </div>
</div>
<script>
  const changeVideo = (da) => {
    let videoFrame = document.getElementById('video');
    videoFrame.src = `https://www.youtube.com/embed/${da}`;
  }
</script>