<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800"><b>
      <%= title %>
    </b></h1>
</div>

<!-- Content Row -->
<div class="row">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-12 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
              Jumlah kelas
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <%= courses.length %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Content Row -->
<div class="row">
  <% if(url == `/course/`+ user.no_id) { %>
  <% if(courses.length> 0) { %>
  <% courses.forEach(course=> { %>
  <div class="col-lg-4 mb-4">
    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-body text-center">
        <div>
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem"
            src="../../admin/img/undraw_posting_photo.svg" alt="..." />
        </div>
        <h5 class="m-0 font-weight-bold py-3">
          <%= course.Course.nameCourse %>
        </h5>
        <% if(course.status==0 && user.status==0){ %>
        <button class="btn btn-primary btn-sm disabled">Masuk kelas</button>
        <% } else { %>
        <a class="btn btn-primary btn-sm" href="/course/detail/<%= course.idCourse %>">Masuk kelas</a>
        <% } %>
        <form onsubmit="return confirm(`Apakah kamu yakin akan menghapus kelas <%= course.Course.nameCourse%>?`)"
          method="POST" action="/course?_method=DELETE" style="display:inline">
          <input type="hidden" name="idUser" value="<%= user.no_id %>">
          <input type="hidden" name="id" value="<%= course.id %>">
          <button type="submit" class="btn btn-danger btn-sm">hapus</button>
        </form>
      </div>
    </div>

  </div>
  <% }); %>
  <% } else { %>
  <p>Kamu belum punya kelas, <a href="/">Beli disini sekarang</a></p>
  <% } %>
  <% }else { %>
  <p>Forbidden</p>
  <% } %>
</div>