<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <a href="/">back</a>
  </div>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome, <%= user.fullName %>
  </p>
  <div>
    <% if(url==`/`+ user.no_id) { %>
      <% if(courses.length > 0) { %>
        <p>Come on study hard, you already have several active classes!</p>
        <% courses.forEach(course=> { %>
        <div style="float:left;margin:5px;padding:10px;text-align:center;width:200px;border:1px solid black">
          <div style="background-color: #333333;width:100%;height:50px"></div>
          <h5>
            <%= course.Course.nameCourse %>
          </h5>
          <% if(course.status == 0 && user.status == 0){ %>
            <button disabled>Going to class</button>
          <% } else { %>
            <a href="/course/detail/<%= course.idCourse %>"><button>Going to class</button></a>
          <% } %>
          <form onsubmit="return confirm(`Are you sure you want to delete class <%= course.Course.nameCourse%>?`)"
            method="POST" action="/course?_method=DELETE" style="display:inline">
            <input type="hidden" name="idUser" value="<%= user.no_id %>">
            <input type="hidden" name="id" value="<%= course.id %>">
            <button type="submit">Remove</but>
          </form>
        </div>
        <% }); %>
      <% } else { %>
        <p>You don't have class yet, <a href="/">Buy here now</a></p>
      <% } %>
    <% } else { %>
      <p>Forbidden</p>
    <% } %>
  </div>
</body>

</html>