<!-- Content Row-->
<div class="row gx-4 gx-lg-5 justify-content-center">
  <% courses.forEach(course => { %>
  <div class="col-md-4 mb-5">
    <div class="card h-100">
      <div class="card-body text-center">
        <img class="card-img-top mb-3" src="https://cdn-cas.orami.co.id/parenting/images/film-kamen-rider.width-800.jpegquality-80.jpg" alt="Card image cap">
        <h5 class="card-title"><%= course.nameCourse %></h5>
        <p class="card-text">Rp<%= course.price.toLocaleString('id-ID') %></p>
      </div>
      <div class="card-footer text-center">
        <% if(user.fullName != null) { %>
          <form onsubmit="return confirm(`Apakah kamu yakin akan membeli kelas <%= course.nameCourse%>?`)" action="/course" method="POST">
            <input type="hidden" name="idCourse" value="<%= course.id %>">
            <input type="hidden" name="idUser" value="<%= user.no_id %>">
            <button type="submit" class="btn btn-primary btn-sm">Beli sekarang</button>
          </form>
        <% }else{ %>
          <a href="/auth"><button class="btn btn-primary btn-sm">Beli sekarang</button></a>
        <% } %>
      </div>
    </div>
  </div>
  <% }); %>
</div>